<form>
  {{!-- template-lint-disable require-input-label  --}}
  <Input @value={{this.href}} />
  <button {{on 'click' (fn this.on-submit this.href)}} type="submit">Link</button>
  <button type="submit" {{on 'click' this.on-cancel}}>Cancel</button>
</form>
