{{yield (hash
  editor=editor
  activeSectionTagNames=activeSectionTagNames
  activeMarkupTagNames=activeMarkupTagNames
  toggleMarkup=(action 'toggleMarkup')
  toggleLink=(action 'toggleLink')
  addCard=(action 'addCard')
  addAtom=(action 'addAtom')
  addCardInEditMode=(action 'addCardInEditMode')
  toggleSection=(action 'toggleSection')
  createListSection=(action 'createListSection')
)}}

<div class="mobiledoc-editor__editor-wrapper">
  <div class="mobiledoc-editor__editor"></div>
</div>

{{#if linkOffsets}}
  {{#tether-to-selection}}
    {{mobiledoc-link-prompt
        on-submit=(action "completeLink")
        on-cancel=(action "cancelLink")}}
  {{/tether-to-selection}}
{{/if}}

{{#each componentCards as |card|}}
  {{#ember-wormhole to=card.destinationElementId}}
    {{! LEGACY: Payload is passed as the legacy "data" attr below. This
        is deprecated and should be removed before 1.0 }}
    {{component card.cardName
        editor=editor
        postModel=card.postModel
        cardName=card.cardName
        payload=card.payload
        data=card.payload
        env=card.env
        editCard=(action card.env.edit)
        saveCard=(action card.env.save)
        cancelCard=(action card.env.cancel)
        removeCard=(action card.env.remove)}}
  {{/ember-wormhole}}
{{/each}}

{{#each componentAtoms as |atom|}}
  {{#ember-wormhole to=atom.destinationElementId}}
    {{component atom.atomName
        editor=editor
        postModel=atom.postModel
        atomName=atom.atomName
        payload=atom.payload
        value=atom.value}}
  {{/ember-wormhole}}
{{/each}}
