{{yield editor (hash
    toggleMarkup=(action 'toggleMarkup')
    toggleLink=(action 'toggleLink')
    addCard=(action 'addCard')
    toggleSectionTagName=(action 'toggleSectionTagName')
    createListSection=(action 'createListSection')
  )
  this
}}

<div class="content-kit-editor__editor-wrapper">
  <div class="content-kit-editor__editor"></div>
</div>

{{#if linkOffsets}}
  {{#tether-to-selection}}
    {{content-kit-link-prompt
        on-submit=(action "completeLink")
        on-cancel=(action "cancelLink")}}
  {{/tether-to-selection}}
{{/if}}

{{#each componentCards as |card|}}
  {{#ember-wormhole to=card.destinationElementId}}
    {{content-kit-component-card
        editor=editor
        cardSection=card.section
        cardName=card.cardName
        data=card.data
        editCard=(action card.callbacks.edit)
        saveCard=(action card.callbacks.save)
        cancelCard=(action card.callbacks.cancel)
        removeCard=(action card.callbacks.remove)}}
  {{/ember-wormhole}}
{{/each}}
